service.wsdl

<?xml version="1.0" encoding="UTF-8"?>

<!-- <definitions> must be the root of the WSDL document -->
<wsdl:definitions targetNamespace="http://tempuri.org/" 
  xmlns:s="http://www.w3.org/2001/XMLSchema" 
  xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" 
  xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" 
  xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" 
  xmlns:tns="http://tempuri.org/" 
  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" 
  xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" 
  xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" 
  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">

  <!-- WSDL TYPES: definition of the data types that are used in the web service -->
  <wsdl:types>
    <s:schema targetNamespace="http://tempuri.org/">
      <s:complexType name="Category">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="cat_id" type="s:string"/>
          <s:element minOccurs="1" maxOccurs="1" name="cat_name" type="s:string"/>
        </s:sequence>
      </s:complexType>
      <s:complexType name="CategoriesQueryByIdRequest">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="id" type="s:string"/>
        </s:sequence>
      </s:complexType>
      <s:complexType name="CategoriesQueryResponse">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="category" type="tns:Category"/>
        </s:sequence>
      </s:complexType>
    </s:schema>
  </wsdl:types>
  
  <!-- MESSAGES: defines the data being exchanged between the service and client -->
  <wsdl:message name="CategoriesQueryByIdSoapIn">
    <wsdl:part name="parameters" type="tns:CategoriesQueryByIdRequest"/>
  </wsdl:message>

  <wsdl:message name="CategoriesQuerySoapIn">
  </wsdl:message>

  <wsdl:message name="CategoriesQuerySoapOut">
    <wsdl:part 
      name="response" type="tns:CategoriesQueryResponse"
    />
  </wsdl:message>

  <!-- PORT TYPES: defines the complete communication operation (one way/round trip) -->
  <wsdl:portType name="CategoriesQuerySoapPort">
    <!-- The operation name must be the same as the one specified in the service object -->
    <wsdl:operation name="CategoriesQueryById">
      <wsdl:input message="tns:CategoriesQueryByIdSoapIn"/>
      <wsdl:output message="tns:CategoriesQuerySoapOut"/>
    </wsdl:operation>

    <wsdl:operation name="CategoriesQuery">
      <wsdl:input message="tns:CategoriesQuerySoapIn"/>
      <wsdl:output message="tns:CategoriesQuerySoapOut"/>
    </wsdl:operation>
  </wsdl:portType>

  <!-- BINDING: provides details on how a portType operation will actually be transmitted -->
  <wsdl:binding name="HabitusServiceSoapBinding" type="tns:CategoriesQuerySoapPort">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="CategoriesQueryById">
      <soap:operation soapAction="CategoriesQueryById" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>

    <wsdl:operation name="CategoriesQuery">
      <soap:operation soapAction="CategoriesQuery" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  
  <wsdl:binding name="HabitusServiceSoap12Binding" type="tns:CategoriesQuerySoapPort">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="CategoriesQueryById">
      <soap12:operation soapAction="CategoriesQueryById" style="document"/>
      <wsdl:input>
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>

    <wsdl:operation name="CategoriesQuery">
      <soap12:operation soapAction="CategoriesQuery" style="document"/>
      <wsdl:input>
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  
  <!-- SERVICE:  -->
  <wsdl:service name="HabitusService">
    <wsdl:port name="HabitusServiceSoapPort" binding="tns:HabitusServiceSoapBinding">
      <soap:address location="TARGET_HOST"/>
    </wsdl:port>
    <wsdl:port name="HabitusServiceSoap12Port" binding="tns:HabitusServiceSoap12Binding">
      <soap12:address location="TARGET_HOST"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>